*.py[co]
*.mo
*.log
*.pid
*.sock
*.geany
*.project
*.anjuta
*.sublime*
*.directory
*.idea
.DS_Store
env
node_modules
run
db.sqlite3
local_settings.py*
settings_local.py*
pyvenv.cfg
pip-selfcheck.json
/media/
/*.sql
/*.BIN
/Include
/Lib
/Scripts
/certificates
/certs
.editorconfig
.vscode/
