{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 6%">
            <div class="col-md-8 col-md-offset-2">
                <h3 class="page-header">Благодарим ви!</h3>
                <p>Вашата поръчка се обработва и ще се свържем с вас.<strong>{{ order.id }}</strong>.</p>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
{{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            let order = window.bundleObj.getOrder()
            if (order){
                let newCount = 0;
                window.bundleObj.setOrder(newCount);
                $(".header__cart-count").text(newCount);
            }
        });
    </script>
{% endblock %}

