{% load crispy_forms_tags %}

{% block content %}
  <form method="post" novalidate>
    {% csrf_token %}
    <div class="row">
      <div class="col-6" style="border-right: 1px solid #E2C400;">
        <ul style="list-style: none;">
          {% for news, id in foods %}
          <li>
              <a href="{% url 'news:news-detail' news.pk %}"><h5>{{ news.title }}</h5>
                  <div>
                      <div style="display: inline-flex;"><img style=" height: 100%; margin-right: 10px; border-style: solid;" src="{{ news.image.url }}" alt="Smiley face"width="63">
                      </div>
                    </div>
                    {{id}}
              </a>
          </li>
          <hr style="background-color: #E2C400;">
          {% endfor %}
        </ul>
      </div>
      <div class="col-6">
        {{ form.name|as_crispy_field }}
        {{ form.phone|as_crispy_field }}
        {{ form.email|as_crispy_field }}
        <button type="submit" class="btn btn-success">Поръчай</button>
      </div>
    </div>
  </form>
{% endblock %}