{% extends "base.html" %}

{% block content %}
    <div class="container" style="color: #fff">
        <h2>Политика за повертителност на личните данни</h2>

        <p>В тези Политики за поверителност обобщихме ключовите моменти във връзка със защитата на личните Ви данни и 
        начините на обработка от нас. Ако се нуждаете от  повече информация и/или имате конкретни въпроси към нас във връзка с личните си данни, 
        можете да се свържете с нас. </p>

        <strong><span style="font-family:&quot;Arial&quot;,sans-serif;font-style:normal;">Имате ли задължение да ни предоставяте Вашите лични данни?</span></strong>
        <span style="font-size:16px;font-family:&quot;Arial&quot;,sans-serif;">С настоящото Ви уведомяваме, че за да използвате всички функционалности на нашия Сайт, ние трябва да обработим определени технически данни, които може да съдържат и лични такива. По принцип нямате задължение да ни предоставяте лични данни, когато използвате Сайта или услугите ни и това се основава единствено на Вашата свободна воля. Въпреки това, бихме искали да Ви уведомим, че без предоставянето на лични данни, ние няма да можем да Ви предоставим възможност за пълноценно използване на услугите ни и няма да успеете да закупите желаните от Вас продукти от онлайн магазина ни.&nbsp;</span>
    </div>
{% endblock %}