{% extends 'fullwidth.html' %}
{% load static %}

{% block content %}
<ul style="list-style: none;">
    <br>
    {% for news in object_list %}
    <li>
        <a href="{% url 'news:news-detail' news.pk %}"><h5>{{ news.title }}</h5>
            <div>
                <div style="display: inline-flex;"><img style=" height: 100%; margin-right: 10px; border-style: solid;" src="{{ news.image.url }}" alt="Smiley face" height="120" width="230">
                {{ news.text }}
                </div>
            </div>
        </a>
        <a style="margin-top: 10px; background-color: #3AB074;" href="#" data-myval="{{news.pk}}" class="btn order_btn">Добави в количка</a>
    </li>
    <hr style="background-color: #E2C400;">
    {% endfor %}
</ul>
{% endblock %}
