{% load cms_tags menu_tags sekizai_tags static %}

{% block navigation %}
<header class="masthead" style="background-color: #E2C400; border-bottom: 2px solid #3AB074;">
  <div class="container">
    <div class="row">
      <img src="{% static 'retro_1.jpg' %}" alt="Smiley face" height="150" width="190">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h2>Гостилница "РЕТРО"</h2>
          <span class="subheading">Поръчайте от нашите верига ресторанти храна за вкъщи.</span>
          <br>
          <br>
          <br>
          <ul class="nav">
            {% show_menu 0 100 100 100 %}
            <li class="child sibling">
              <a href="/bg/cart/">Количка</a>
            </li>
            <li class="child sibling">
              <a href="/bg/contacts/">Контакти</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="header-cart">
        <h2 class="header__cart">
          <a class="c-header__cart-title-link" href="{% url "cart:cart_detail" %}">
            <span class="header__cart-count">0</span>
          </a>
        </h2>
      </div>
    </div>
  </div>
</header>
{% endblock %}
