{% extends "base.html" %}
{% load static %}
{% block title %}
    Your Shopping Cart
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 6%">
        <h2>
            <span class="badge pull-right">
                {% with totail_items=cart|length %}
                    {% if cart|length > 0 %}
                        Моята количка:
                        <a href="{% url "cart:cart_detail" %}" style="color: #ffffff">
                            {{ totail_items }} пъръчки {{ totail_items|pluralize }}, {{ cart.get_total_price }} лв.
                        </a>
                        {% else %}
                        Вашата количка е празна.
                    {% endif %}
                {% endwith %}
            </span>
        </h2>
            <table class="table table-striped table-hover">
                <thead style="background-color: #3AB074">
                    <tr>
                        <th>Продукт</th>
                        <th></th>
                        <th>Количество</th>
                        <th>Премахни</th>
                        <th>Цена</th>
                        <th>Сума</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in cart %}
                    {% with product=item.food  %}
                        <tr>
                            <td>
                                <div style="display: inline-flex;"><img style=" height: 100%; margin-right: 10px; border-style: solid;" src="{{ product.image.url }}" alt="Smiley face" height="120" width="230">
                            </td>
                            <td>{{ product.title }}</td>
                            <td>
                                <form action="{% url "cart:cart_add" product.id %}" method="post">
                                    {% csrf_token %}
                                    {{ item.update_quantity_form.quantity }}
                                    {{ item.update_quantity_form.update }}
                                    <input type="submit" value="Промени" class="btn btn-info updateFood">
                                </form>
                            </td>
                            <td>
                                <a class="removeFood" href="{% url "cart:cart_remove" product.id %}" style="background-color: #3AB074;">Премахни</a>
                            </td>
                            <td>{{ item.price }} лв.</td>
                            <td>{{ item.total_price }} лв.</td>
                        </tr>
                    {% endwith %}
                {% endfor %}
                <tr style="background-color: #3AB074">
                    <td><b>Крайна цена</b></td>
                    <td colspan="4"></td>
                    <td colspan="num"><b>{{ cart.get_total_price }} лв.</b></td>
                </tr>
                </tbody>
            </table>
            <p class="text-right">
                {% comment %} <a href="{% url "shop:product_list" %}" class="btn btn-default">Continue Shopping</a> {% endcomment %}
                <a href="{% url "orders:order_create" %}" class="btn btn-primary">Поръчай</a>
            </p>
        </div>
    </div>
{% endblock %}
