{% extends 'fullwidth.html' %}
{% load static retro_tags %}

{% block content %}
<ul style="list-style: none;">
    {% for food in object_list %}
    <li>
        <a href="{% url 'foods:food-detail' food.pk %}"><h5>{{ food.title }}</h5>
            <div>
                <div style="display: inline-flex;"><img style=" height: 100%; margin-right: 10px; border-style: solid;" src="{{ food.image.url }}" alt="Smiley face" height="120" width="230">
                {{ food.text }}
                </div>
            <div>{{food.price}} лв.</div>
            </div>
        </a>
       <form method="POST" id="postForm">
            {% csrf_token %}
            {{ cart_product_form }}
            <button style="background-color: #3AB074;" type="submit" class="btn btn-primary" data-myval="{{food.pk}}" class="btn order_btn">Добави в количка</button>
        </form>
    </li>
    <hr style="background-color: #E2C400;">
    {% endfor %}
</ul>
{% endblock %}
