body {
  background: #114357;
  background: -webkit-linear-gradient(to right, #114357, #f29492); /* Chrome 10-25, Safari 5.1-6 */;
  background: linear-gradient(to right, #114357, #f29492); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
a {
  color: white;
}
table {
  color: white;
}
a:hover {
  color: #E2C400;
  text-decoration: none;
}            
.nav {
  padding-left: 0;
}
.nav li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}
.nav li a:hover {
  color: #3AB074;;
}            
.selected {
  text-decoration: underline; 
}
.container {
  width: 940px;
  margin: 0 auto
}
.content {
  float: left;
  width: 80%;
}
.sidebar {
  float: left;
  width: 20%;
}
.header-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 6%;
  margin-left: 6px;
  border-left-color: #145082;
}
.header__cart{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.header__cart-count{
  width: 18px;
  height: 18px;
  background: #cc4545;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 10px;
  font-size: 12px;
}
.c-header__cart-title-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: url(/static/cart_icon.png) no-repeat 36% 70%;
}
.btn.btn-success {
  background-color: #3AB074;
}

/* Popup box BEGIN */
.hover_bkgr_fricc{
  display:none;
  height:20%;
  position:fixed;
  text-align:center;
  top:40px;
  width:20%;
  z-index:10000;
}
.hover_bkgr_fricc .helper{
  display:inline-block;
  height:100%;
  vertical-align:middle;
}
.hover_bkgr_fricc > div {
  background-color: #d1d8cc;
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
  height: auto;
  vertical-align: middle;
  width: 90%;
  position: relative;
  border-radius: 8px;
  padding: 25px 5%;
}
.popupCloseButton {
  background-color: #fff;
  border: 3px solid #999;
  border-radius: 50px;
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 25px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
}
.popupCloseButton:hover {
  background-color: #ccc;
}
.trigger_popup_fricc {

  font-size: 20px;
  margin: 20px;
  display: inline-block;
  font-weight: bold;
}
.hover_bkgr_fricc .makeOrder {
  background-color: #28a228;
  padding: 7px;
  border-radius: 4px;
}

#postForm label {
  color: white;
}

.foodName {
  content: "\2713";
}
/* Popup box BEGIN */